




.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
    gap: 2rem;
    background-color: var(--background-color);
    color: var(--text-color);
}


section {


    a:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}