
.dashboard-message-container {
    background: var(--background-color);
    display: grid;
    grid-template-rows: 0.1fr 2fr;
    flex: 1;
    min-height: 0;
    grid-area: 1 / 1 / 2 / 2;
}


.dashboard-message-container.mini {
    grid-area: 1 / 1 / 2 / 3;
}


.dashboard-message-content {
    background: var(--background-color);
    display: grid;
    grid-template-rows: repeat(10, auto);
    overflow-y: auto;
}


.conversation-header {
    border-bottom: 1px solid var(--secondary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
    h2 {
        text-align: left;
        margin: 0;
        padding: 1rem 0;
    }

    svg {
        margin: 1rem;
        transition: var(--default-transition);
    }

    svg:hover {
        fill: var(--accent-color);
        cursor: pointer;
        scale: 1.1;
    }

}

.conversation-header.phone-header {
    margin: 0;
    position: relative;
    box-shadow: -5px 5px 10px 10px rgba(0, 0, 0, 0.1);

    h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
    }
}


.loading-conversation-title {
    height: 40px;
    width: 100px;
    margin: 1rem 0;
    border-radius: var(--border-radius);
    background: var(--secondary-color);
}

.loading-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    animation: pulse 2s infinite;
}




.dashboard-message-input {
    display: flex;
    height: 100%;
    background-color: var(--background-color);
    grid-area: 2 / 1 / 3 / 2;
}

.dashboard-message-input.mini {
    grid-area: 2 / 1 / 3 / 3;
}


.message-fieldset {
    border: none;
}

.message-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 1rem;
}

.message-card-body {
    display: flex;
    width: 50%;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-radius: 20px;
    gap: 1rem;
    transition: var(--default-transition);
    background-color: var(--background-color);
    border: 1px solid var(--disabled-color);

    input {
        flex-grow: 1;
        background-color: transparent;
        border: none;
        color: var(--text-color);
        outline: none;
    }

    form {
        display: flex;
        width: 100%;
    }

    svg {
        transition: var(--default-transition);
    }

    svg:hover {
        fill: var(--accent-color);
        cursor: pointer;
    }
}

.message-card-body:has(input:focus-within) {
    border: 1px solid var(--accent-color);
}

.message-area-icons {
    display: flex;
    justify-content: center;
    position: relative;
}


.dashboard-chat-window {
    display: grid;
    height: auto;
    grid-template-rows: 2fr 0.2fr;
    grid-template-columns: 1fr;
    border-radius: 10px 0px 0 10px;
    overflow: hidden;
    grid-area: 1 / 3 / 2 / 4;
    box-shadow: var(--boxshadow-left);
    margin: 1rem 0;
}


.stretch {
    grid-area: 1 / 3 / 2 / 5;
    transition: transform var(--default-transition);
    margin: 1rem 1rem 1rem 0;
    border-radius: var(--border-radius);
    box-shadow: var(--soft-boxshadow);
}


.dashboard-message {
    margin: 1rem;
    width: 50%;
    align-self: flex-start;
    justify-self: flex-end;
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
}


.dashboard-message-avatar {
    margin: 0.5rem;
}



.dashboard-message-header {
    align-items: flex-end;
    justify-self: flex-end;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;

    h3:first-of-type {
        opacity: 0.5;
    }
}

.dashboard-message-text-container {
    display: flex;
    flex-direction: column;
}

.dashboard-message-body {
    background-color: var(--accent-color);
    padding: 1rem 2rem;
    border-radius: 10px;
    text-align: left;
    color: var(--text-color);
    display: flex;
    flex-direction: column;

    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;

    p {
        color: white;
    }
}


.dashboard-message-body.gif, .dashboard-message-body.gif.other {
    background-color: transparent;
    border-radius: var(--border-radius);
    overflow: hidden;

    img {
        border-radius: var(--border-radius);
        max-width: 300px;
        max-height: 300px;
        object-fit: contain;
    }
}

.dashboard-message-body.other {
    background-color: var(--secondary-color);
    justify-self: flex-start;

    p {
        color: var(--text-color);
    }
}


.dashboard-message-header.other {
    align-items: flex-start;
    justify-self: flex-start;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    flex-direction: row-reverse;
    h3:first-of-type {
        opacity: 0.5;
    }
}

.dashboard-message.other {
    flex-direction: row;
    justify-self: flex-start;
}


.new-convo-section-username {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


.message-splitter {

    h4 {
        display: flex;
        flex-direction: row;
        margin: 1rem;
        color: var(--secondary-color);
        gap: 1rem;
    }

    h4:before, h4:after {
        content: "";
        flex: 1;
        border-bottom: 2px solid var(--secondary-color);
        border-radius: 10px;
        margin: auto;
    }
}


.loading-messages-card {
    height: 100px;
    margin: 0.5rem;
    border-radius: 15px;
    background-color: var(--secondary-color);
    width: 50%;
    animation: pulse 2s infinite;
}

.loading-messages-card:nth-of-type(2) {
    justify-self: flex-end;
}

.loading-messages-card:nth-of-type(4) {
    justify-self: flex-end;
    height: 150px;
}


.hide {
    display: none;
}


@media screen and (max-width: 800px) {

    .dashboard-chat-window {
        margin: 0;
        border-radius: 0;
        height: 100%;
        grid-template-rows: 2fr;
        grid-template-columns: 2fr;
    }

    .back-arrow {
        transform: var(--default-transition);
    }

    .back-arrow:hover {
        fill: var(--accent-color);
        cursor: pointer;
        scale: 1.1;
    }
}