


.dashboard-header {
    background-color: var(--secondary-color);
    padding: 0 1rem;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.header-company-logo {
    img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
}

.user-container {
    display: flex;
    flex-direction: row;
}

.header-user-container {
    margin: 1rem 0;
    gap: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    align-self: flex-start;

    p {
        margin-right: 1rem;
    }
}

.dropdown-menu {
    position: absolute;
    top: -100%;
    left: 100%;
    display: none;
    background-color: var(--background-color);
    box-shadow: var(--soft-boxshadow);
    z-index: 10;
}

.header-user-container:hover .dropdown-menu {
    display: block;
    border-radius: 10px;
    overflow: hidden;
}

.header-user-container:hover {
    cursor: pointer;
}

.dropdown {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-radius: 0.2rem;
}

.dropdown li {
    padding: 10px;
    cursor: pointer;
    text-wrap: nowrap;
}


.dropdown li:hover {
    color: var(--accent-color);
    cursor: pointer;
}

.dropdown li:hover {
    background-color: var(--background-color);
}


@media screen and (max-width: 800px) {

    .dashboard-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
    }

    .dashboard-header {
        background-color: transparent;
        position: absolute !important;
        pointer-events: none;

        z-index: 1;
        left: 0;
        top: 0;
    }

    .header-user-container {
        pointer-events: all;
    }


}
