

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}


.dashboard-wrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: auto;
}

.dashboard-main {
    display: grid;
    grid-template-columns: 0.1fr 0.5fr 2fr;
    background-color: var(--secondary-color);
    height: 100%;        /* Take full height of its grid row */
    min-height: 0;       /* Allow it to shrink if needed */
    overflow: hidden;    /* Prevent internal overflow from pushing it */
    gap: 1rem;
}

.dashboard-header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    h1 {
        margin: 0;
        text-align: center;
    }
}


.dashboard-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 2rem;
    background-color: var(--background-color);

    svg:hover {
        cursor: pointer;
        scale: 1.1 !important;
        fill: var(--accent-color);
    }
}

.dashboard-conversation {
    border-radius: var(--border-radius);
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-shadow: var(--soft-boxshadow);
    margin: 1rem 0;

}

