
.dashboard-wrapper{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 0.2fr 2fr;
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.dashboard-main {
    display: grid;
    grid-template-columns: 0.1fr 0.5fr 2fr;
    background-color: var(--secondary-color);
}



.dashboard-header{
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        margin: 0;
        text-align: center;
    }
}


.dashboard-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 2rem;
    background-color: var(--background-color);

    svg:hover {
        cursor: pointer;
        scale: 1.1 !important;
        fill: var(--accent-color);
    }
}

.dashboard-conversation {
    border-radius: var(--border-radius);
    padding: 1rem;
    margin: 0.5rem;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-shadow: var(--soft-boxshadow);
}



