


.notifications-container {
    background-color: var(--background-color);
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-grow: 1;

    > div {
        height: 50%;
    }

    div h2:first-of-type {
        text-align: left;
    }
}


.grouprequests-container, .friendrequests-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0.5rem 1rem;

    p {
        margin: 0 auto;
        align-self: center;
        justify-self: center;
    }
}





.cards-container {
    p {
        margin: 0 auto;
        opacity: 0.5;
    }
    display: grid;
    grid-template: repeat(10, 1fr) / 1fr;

    height: 100%;
}

.request-card {
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: var(--default-transition);
    padding: 0.5rem 1rem;
    flex-grow: 1;
}
