




.user-profile-container {
    justify-content: flex-start;
    align-items: center;
    display: flex;
    background-color: var(--background-color);
    flex-direction: column;
    padding: 1rem;
    gap: 4rem;
    grid-area: 3 / 2 / 1 / 2;

    svg {
        align-self: flex-end;
    }

    svg:first-of-type:hover {
        cursor: pointer;
        fill: var(--error-color);
    }
}

.user-profile-container.hidden {
    display: none;
}


.user-profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}


.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--soft-boxshadow);
}


.user-info {
    display: flex;
    flex-direction: column;

    textarea {
        resize: none;
        border: none;
        outline: none;
        font-family: inherit;
    }
}

.textarea-field:has(textarea:focus-within) {

    fieldset {
        border: 2px solid var(--accent-color);
    }

    legend {
        color: var(--accent-color);
    }

    textarea {
        resize: none;
        outline: none;
        font-family: inherit;
    }
}


.hidden {
    display: none;
}