







.user-profile-container {
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    background-color: var(--background-color);
    flex-direction: column;
    grid-row: 1 / -1;
    padding: 1rem;
}


.user-profile-info {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    align-self: flex-start;
    gap: 2rem;
}


.user-avatar {
    align-self: flex-start;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--soft-boxshadow);
}


.user-info {
    display: flex;
    flex-direction: column;

    textarea {
        resize: none;
        border: none;
        outline: none;
        font-family: inherit;
    }
}

.textarea-field:has(textarea:focus-within) {

    fieldset {
        border: 2px solid var(--accent-color);
    }

    legend {
        color: var(--accent-color);
    }

    textarea {
        resize: none;
        outline: none;
        font-family: inherit;
    }
}


.hidden {
    display: none;
}