


.landing-page-nav {
    width: 100%;
    display: flex;
    justify-self: flex-end;
    align-self: flex-end;

    gap: 3rem;
    margin: 1rem;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;

    a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        transition: var(--default-transition);
        border-radius: var(--border-radius);
        padding: 0.5rem;
        color: var(--text-color);
    }

    a:hover {
        box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;        scale: 1.1;
        cursor: pointer;
        color: var(--accent-color);

        svg {
            fill: var(--accent-color);
        }
    }
}


.landing-page-nav.sticky {
    margin: 1rem;

    a:hover {
        box-shadow: none;
    }
}


.landing-page-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img:hover {
        animation: bounce 0.4s ease-in;
    }
}


.sticky {
    position: sticky;
    top: 0;
    z-index: 10;
}


.hide-header {
    opacity: 0;
}

.landing-page-header.sticky {
    background-color: var(--background-color);
    box-shadow: -5px 5px 10px 10px rgba(0, 0, 0, 0.1);
    animation: smoothIn 0.8s ease-out forwards;
    z-index: 5;


    div {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        h1 {
            text-shadow: none;
        }
    }
}

.header-backdrop {
    width: 100%;
    position: relative;
    background-color: var(--background-color);
}


@keyframes smoothIn {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    60% {
        transform: translateY(0%);
        opacity: 1;
    }
    75% {
        transform: translateY(8px);
    }
    90% {
        transform: translateY(-4px);
    }
    100% {
        transform: translateY(0);
    }
}


@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50%{
        scale: 1.25;
        transform: translateY(10px);
    }

    100% {
        scale: 1;
        transform: translateY(0px);
    }
}