



.landing-page-module {
    box-shadow: var(--default-boxshadow);
    border-radius: var(--border-radius);
    justify-self: center;

    opacity: 0;
    padding: 1rem 0rem;


    h3 {
        font-weight: 400;
    }

    span {
        font-size: 1.8rem;
        text-decoration: none;
    }
}

.mock-chat-window {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow: hidden;
    padding: 1rem;
}


.landing-page-module:nth-of-type(odd) {
    align-self: flex-end;
    animation: landingPageAnimation 1s ease-out forwards;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.landing-page-module:nth-of-type(even) {
    align-self: flex-start;
    justify-self: end;
    animation: landingPageAnimation 1s ease-out forwards;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

@keyframes landingPageAnimation {
    from {
        opacity: 0;
        filter: blur(5px);
    }

    to {
        opacity: 1;
        filter: blur(0px);
        transform: translate3d(0%, 0, 0);
    }
}



