
.landing-page-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5rem;

    background-color: var(--background-color);
}


.landing-page-main {
    width: 100%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;

    align-self: center;
    max-width: 1200px;

    h2 {
        font-weight: 400;
    }
}

.home-button {
    background-color: transparent;
    justify-self: end;
    align-self: end;
    position: absolute;
    left: 100%;
    right: 0%;
    top: 100%;
    bottom: 0%;
    margin: 1rem;
    padding: 1rem;
    font-size: 5rem;
    border-radius: 50%;
    box-shadow: var(--default-boxshadow);
    transition: var(--default-transition);
}

.home-button:hover {
    cursor: pointer;
    fill: var(--accent-color);
    animation: bounce 0.4s;
}



.yapper-logo {
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    align-items: center;

    h1 {
        margin: 0;
        font-weight: 600;
        align-self: center;

        text-shadow: 0px 4px 3px rgba(0,0,0,0.2),
        0px 8px 13px rgba(0,0,0,0.1),
        0px 18px 23px rgba(0,0,0,0.1);
    }

    img {
        height: 100px;
        width: 100px;
        object-fit: contain;
    }
}


.yapper-logo__title {
    display: flex;
    flex-direction: row;
    font-size: clamp(1rem, 1vw, 1rem);
}


@keyframes bounce {
    0% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0px);
    }
}



.yapper-logo__subtitle {
    width: fit-content;
    display: inline-block;

    h2 {
        font-size: 2rem;
        margin: 0;
        font-weight: 400;
    }
}




.typewriter {
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s,
    cursor .4s step-end infinite alternate;
}


@keyframes cursor {
    50%{
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}




@media screen and (max-width: 1200px) {


    .landing-page-main {
        max-width: 1200px;
    }
}